.App {
  text-align: center;
  width: 25%;
  padding: 15% 35%;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

form {
  display: flex;
  flex-direction: column;
  padding-bottom: 5%;
}

form > *{
  padding-bottom: 10px;
  margin-bottom: 1%;
}

button {
  background-color: #242F9B;
  color: #DBDFFD;
}

.box{
  border: 1px #646FD4 solid;
  background-color: #9BA3EB;
  padding: 1%;
}